<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    보안을 공부하다가 백엔드 개발을 하고 있는 평범한 회사원입니다. 
    MSA 구조의 회사에서 서비스간 통신, 로그 트레이싱을 위해서 사내 라이브러리를 만들고 보완하는 작업을 하고 있으며, 개발 프로세스와 경험을 개선하기 위한 플랫폼 구축에 관심이 많습니다.
    <br>
    Hello! I am an ordinary professional who started my career in backend development after delving into the realm of cybersecurity. Currently employed at a company following a Microservices Architecture (MSA), I am actively engaged in creating and enhancing internal libraries to facilitate communication between services and streamline log tracing. My focus lies in building platforms aimed at improving development processes and gaining valuable experience.
</div>